.container{
  font-size:100px;
  text-align:center;
  background-color:lightblue;
  opacity: 0.8;

}
.container2{
  width:500;
  height: 400;
  opacity: 0.8;
  background-color:lightblue;
  text-align:center;
}
.meu-botao {
  background-color:lightblue;
  font-size: 15px;
  opacity:0.8;
  text-align:center;
}

